*{  margin: 0px;
    font: 18px/1.5 Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
  margin: 5px 5px 5px 5px;
  background-color: lightblue;
  max-width: 1280px;
  min-width: 580px;

}
/* Global definition   */
.container {
  background-color:darkblue;
  display: block;
  text-align: center;
  color: white;
  min-width: 400px;
  margin: 0px;
  overflow: hidden;

}
.rechteckcontainer{
  min-width: 400px;
  height: 200px
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0px;
}
.rechteckcontainer div{
width: 120px;
height: 120px;
position: relative;
float: left;
background-color: red;
border: 2px solid;
border-color: black;
padding: 8px;
}




ul {
  margin: 0;
  padding: 0;
}
/* header definition   */
  
}
header{
  
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
min-height: 70px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
text-align: center;

}
header a {
  color: orange;
  text-decoration: none;
  text-transform: full-width;
  font-size: 18px;
}
header h1 {
  margin-top: 10px;
}
header a:hover {
  color: yellow;
  font-weight: bold;
  ;

}
.navi{
background-color:darkblue;
display: block;
text-align: center;
border-bottom-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.navi li {
  display: inline-block;
  flex-direction: row;
  width: 90px;
  font-size: 12px;
  color: honeydew;
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 4px 4px 4px 4px;
  background-color: blue;
  border-radius: 5px;
  text-align: center;
}