*{  margin: 0px;
    font: 18px/1.5 Arial, Helvetica, sans-serif;
    box-sizing: border-box;
     
}
img {
    max-width: 100%;
    height: auto;
    float: right;
    margin: 10px;
    position: relative;
}
body{
    
text-align: center;

margin: 0 auto;
margin-top: 5px;
background-color: lightblue;
max-width: 1600px;
min-width: 580px;
}
.bgimg{
    background-image: url(../image/imheader.jpeg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    
    text-align: left;
    min-width: 781px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden; 
    border-radius: 5px;
    /* border: 3px rgb(37, 3, 9) dashed; */
    }
    


h1,h2, p, a {
    color: honeydew;
    background-color: rgba(27, 179, 206, 0.3);
    text-decoration: none;
}
    

.container li {
    display: inline-block;
    
    width: auto;
    min-width: 70px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: blue;
    border-radius: 3px;
    text-align: center;
}

header {
    
    margin-bottom: 60px;
    }
    
h1 {
    color: honeydew;
    display: inline-block;
    background-color: rgba(27, 179, 206, 0.4);
    padding: 0px 5px;
    border-radius: 3px;
    font-weight: 700;
    margin-top: 10px;
    font-size: 2em;
        
    }
    
header p {
color: honeydew;
display: inline-block;
background-color: rgba(27, 179, 206, 0.4);
padding: 0px 5px;
border-radius: 3px;
font-weight: 700;
margin-top: 10px;
font-size: 1em;
        
}
footer {
    color: honeydew;
    display: block;
    background-color: rgba(27, 179, 206, 0.4);
    padding: 5px 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    margin: 0 auto;
   
}        
header a, .article01 a {
    color:rgb(47, 0, 255);
    text-decoration: none;
    background-color: rgba(27, 179, 206, 0.75);
}                


header a:hover, .article01 a:hover {
    color: yellow;
    padding: 2px;
    transition-property: color;
    transition-duration: .7s;
}              
    
header nav { 
    float: right;
    width: auto;
    padding: 2px;
  
}
header nav a {
      color: honeydew;
      background-color: rgba(27, 179, 206, 0.1);
      
}
nav li:hover {
    color: yellow;
    background-color: red;
    font-weight: bold;
    transition-property: color background-color;
    transition-duration: .5s;
}

.article01{
    
    color: rgb(37, 3, 9);
    background-color: rgba(41, 152, 167,.75);
    margin: 5px 0px 0px 0px;
    border-radius: 3px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    max-width: 1200px;
   
}
.article01 h2,h3,h4 {
    font-size: 1.5rem;
    color: #131212;
    
}

.article01 li{
    text-align: left;
    width: 100%; 
    background-color: rgba(27, 179, 206, 0.3);
    margin-top: 0px;
    margin-bottom: 0px;
}

.iframe {

padding: 20px 20px 20px 0px;


}
.box{
/* width: 10vw ;
height: 6vh ; */
min-width: 5vw;
border-radius: 4px;
color: black;
background-color: #000;
text-align: center;
vertical-align: center;
overflow: hidden;
padding: 2px;
display: inline-block;
justify-content:center;
align-items:center;

}
/* Formatierungen speziell Eingabeseite   */
.schwimmtrupp {
position: relative;
display: inline-block;
margin-bottom: 2vh

}

figure {
margin: 15px 21px 15px 21px;
position: relative;
float: left;
height: 100px;
overflow: hidden;
}

figcaption {
    background-color: rgba(41, 152, 167,.8); 
    color: yellow;
    display: block;
    float: right;
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 2px;
    font-size: 12px;
    font-weight: 700;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* enable scroll  */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    background-image: url(../image/imheader.jpeg);
    
    
}

/* Modal Content */
.modal-content {
    display: block;
    background-color: rgba(41, 152, 167,.4);
    margin: 0 auto;
    margin-top: 2% ;    
    padding: 20px;
    /* border: 1px solid #888; */
    max-width: 1200px;
    top: 50%;
    border-radius: 5px;
    overflow: auto;
    /* border: 5px solid #888; */
}


/* The Close Button */
.close {
    position: relative;
    color: #aaaaaa;
    float: right;
    font-size: 36px;
    font-weight: bold;
   
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.button {
    cursor: pointer;
    display: block;
    position: relative;
    font-size: 32px;
    border: 2px solid lightgray;
    text-align: center;
}
.modal p {
    font-size: 36px;
    float: left;
    width: 95%;
}
.modal a {
    font-size: 32px;
}
/* Code für die Iframe-Gallery */
/* iframe container */
.iframe-container {
    max-width: 850px;
    position: relative;
    margin:  auto;
    
  }
  
  /* Hide the iframes by default */
  .myiframes {
       display: none;       
  }
  
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 87%;
    width: 0 auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 30px 5px 5px 30px;
    border: 2px solid black;
  }
  .prev {
    left: 0px;
  }

  /* Position the "next button" to the right */
  .next {
    border-radius: 5px 30px 30px 5px;
    right: 0px;
  }
  
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover, .modal a:hover, .button:hover  {
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 32px;
    transition: background-color 1.6s ease
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor:pointer;
    height: 25px;
    width: 25px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  #map {
    position:absolute;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    left: 50%;
    top: 150px;
    transform: translate(-50%,-0%);
    border: 2px solid black;
    
    
  } 

  #signin-button {
    display: none;
    
    
    
  } 